@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

img {
  height: 300px;
  width: 300px;
  margin: 15px;
}

div {
  margin: 0 auto;
  text-align: center;
}

* {
  background-color: tan;
  font-family: 'Source Code Pro', monospace;
}

h1 {
  text-align: center;
  background-color: brown;
  color: tan;
  font-size: 4em;
  padding: 15px;
  font-family: 'Source Code Pro', monospace;
}